# Assignment – Dictionary

1)Write a Python program to access dictionary key’s element by index.?

In [61]:
num = {'Python': 80, 'java': 90, 'SE': 86}
for i in range(len(num)):
  print(list(num)[i])

Python
java
SE

In [62]:
num = {'Python': 80, 'java': 90, 'SE': 86}
print(list(num)[0])
print(list(num)[1])
print(list(num)[2])

Python
java
SE

2)Create a dictionary and write a program to sort the dictionary by key?

In [63]:
num = {'python': 80, 'java': 90, 'se': 86}
print(sorted(num.keys()))

['java', 'python', 'se']

In [64]:
num = {'python': 80, 'java': 90, 'se': 86}
for key in sorted(num):
    print("%s: %s" % (key, num[key]))

java: 90
python: 80
se: 86

3)Write a Python program to add a new item to a dictionary.?

In [65]:
num = {'python': 80, 'java': 90, 'se': 86}
num['dbms']=78
num['sql']=60
num

{'dbms': 78, 'java': 90, 'python': 80, 'se': 86, 'sql': 60}

4)Write a Python program to add a new item to a dictionary.?

In [66]:
marks={'physics':70,'history':80}
marks['english']=68
marks

{'english': 68, 'history': 80, 'physics': 70}

5)Write a python program to merge two dictionaries?

In [67]:
num = {'python': 80, 'java': 90, 'se': 86}
num1={'dbms': 78, 'sql': 60}
d2=dict(num.items() |num1.items())
d2
#
dict(list(num.items()) + list(num1.items()))

{'dbms': 78, 'java': 90, 'python': 80, 'se': 86, 'sql': 60}

In [68]:
num = {'python': 80, 'java': 90, 'se': 86}
num1={'dbms': 78, 'sql': 60}
{**num, **num1}

{'dbms': 78, 'java': 90, 'python': 80, 'se': 86, 'sql': 60}



6)Access the value of key ‘history’ from the given dictionary?

sampleDict = {
   “class”:{
      “student”:{
         “name”:”Ellen”,
         “marks”:{
            “physics”:70,
            “history”:80
       }}}
}

In [69]:
sampleDict = {
'class':{
  'student':{
     'name':'Ellen',
     'marks':{
        'physics':70,
        'history':80
     }

  }
}

}
print(sampleDict['class']['student']['marks']['history'])

80


7)Delete set of keys from the given dictionary?

sampleDict = {
“name”: “George”,
“age”:25,
“salary”: 8000,
“city”: “New york”
}
keysToRemove = [“name”, “salary”]

In [75]:
sampleDict = {
'name':'George',
'age':25,
'salary': 8000,
'city': 'New york'
}
print(sampleDict)
sampleDict.pop('name')
sampleDict.pop('salary')
print(sampleDict)

{'name': 'George', 'age': 25, 'salary': 8000, 'city': 'New york'}
{'age': 25, 'city': 'New york'}

8)Rename the key city to location in the following dictionary? sampleDict = {
“name”: “Bennedict”,
“age”:25,
“salary”: 8000,
“city”: “New york”
}

In [76]:
sampleDict = {
'name': 'Bennedict',
'age':25,
'salary': 8000,
'city': 'New york'
}
print(sampleDict)
a=sampleDict['city']
sampleDict['location']=a
del sampleDict['city']
print(sampleDict)

{'name': 'Bennedict', 'age': 25, 'salary': 8000, 'city': 'New york'}
{'name': 'Bennedict', 'age': 25, 'salary': 8000, 'location': 'New york'}


9)Get the key of a minimum value from the following dictionary ?

sampleDict = {
‘Physics’: 82,
‘Math’: 65,
‘history’: 75
}

In [72]:
sampleDict = {
'Physics': 82,
'Math': 65,
'history': 75
}
l=min(sampleDict.values())
#print(min(l))
l

65


10)Change Ancy’s salary from 7500 to 9000 in the given dictionary?

sampleDict = {
’emp1′: {‘name’: ‘Ancy’, ‘salary’: 7500},
’emp2′: {‘name’: ‘Pranav’, ‘salary’: 8000},
’emp3′: {‘name’: ‘Vipin’, ‘salary’: 6500}
}

In [73]:
sampleDict = {
'emp1': {'name': 'Ancy', 'salary': 7500},
'emp2': {'name': 'Pranav', 'salary': 8000},
'emp3': {'name': 'Vipin', 'salary': 6500}
}

sampleDict['emp1']['salary']= 9000
sampleDict

{'emp1': {'name': 'Ancy', 'salary': 9000},
 'emp2': {'name': 'Pranav', 'salary': 8000},
 'emp3': {'name': 'Vipin', 'salary': 6500}}